<div class="hero-header d-flex justify-content-center align-items-center p-2">
  <div
    class="hero-burger col-3 d-flex justify-content-start align-items-center px-3"
  >
    <div><i class="fa-solid fa-bars"></i></div>
  </div>
  <div class="hero-logo col-6 d-flex justify-content-center align-items-center">
    <div><span class="logo">EQUILINE</span></div>
  </div>
  <div
    class="hero-cart col-3 d-flex justify-content-end align-items-center px-3"
  >
    <div><i class="fa-solid fa-bag-shopping"></i></div>
  </div>
</div>
