.hero-header {
  width: 100vw;
  position: relative;
  top: 0;
  z-index: 2;
}

.logo {
  font-family: "Raleway", sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 700;
  letter-spacing: 3px;
  font-style: normal;
  font-size: 25px;
}

@media (min-width: 1200px) {
  .logo {
    font-size: 35px;
  }

  .hero-burger {
    font-size: 15px;
  }

  .hero-cart {
    font-size: 22px;
  }
}
