*:not(i) {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
p,
span {
  font-size: 14px;
}

.home {
  overflow-x: hidden;
}

.hero {
  width: 100vw;
  height: 65vh;
  background-color: red;
  color: white;
  font-weight: 500;
}
.hero-header {
  width: 100vw;
  height: 15%;
}
.logo {
  font-family: "Raleway", sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 700;
  letter-spacing: 3px;
  font-style: normal;
  font-size: 25px;
}

.text-image-container-1 .image {
  margin: 0 !important;
  padding: 0 !important;
  width: 100vw;
  height: 50vh;
  background-color: black;
}

.title,
.subtitle {
  font-size: 20px;
}

.card-swiper {
  width: auto;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
}

.card-swiper::-webkit-scrollbar {
  display: none;
}

.card-swiper {
  scrollbar-width: none;
}

.card {
  width: 80vw;
  height: 50vh;
  flex: 0 0 auto;
  border: 0;
  color: white;
}

.card-space {
  height: 70%;
}

.card-text {
  font-size: 12px;
}

.card-title {
  padding: 0;
  margin: 0;
  font-size: 17px;
  font-weight: 300;
  letter-spacing: 1px;
}

.card-details {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.566);
  font-weight: 300;
}
.btn-scopri {
  border: 0;
  font-weight: 500;
}

.must-have-title h1 {
  margin: 0;
  padding: 0;
}

.card-2-img {
  background-color: black;
}

.card-2-text span,
.card-2-price {
  font-weight: 400;
  color: black;
}

.card-3-img {
  background-color: black;
}

.card-3 span {
  color: white;
}

.yt-player {
  width: 100vw;
  height: 45vh;
  background-color: black;
}

.about-us-text {
  font-weight: 400;
}

.about-btn {
  color: white;
  border: 0;
  background-color: #938583;
}

.about-us-img {
  background-color: black;
  height: 45vh;
  width: 100%;
}

.testimonials h1 {
  letter-spacing: 3px;
}
.testimonials h4 {
  font-weight: 400;
}
.testimonials p {
  font-weight: 300;
}

.card-3 {
  background-color: black;
}

.card-3-details {
  background-color: #938583;
  font-size: 20px;
}

.card-3-text {
  font-size: 21px;
  letter-spacing: 2px;
}

.tag-country {
  font-size: 10px;
}

.social h1,
.social h3,
.social span {
  text-align: center;

  padding: 1%;
}

.newsletter {
  color: white;

  background-color: black;
}

.copyright {
  background-color: #938583;
}
