<section class="home">
  <!-- hero carousel -->
  <div class="hero d-flex flex-column position-relative">
    <!-- Background image -->
    <div
      class="background-image position-absolute w-100 h-100"
      [ngStyle]="{
        'background-image':
          'url(' +
          (isTelefono
            ? hero_categories[currentIndex]?.image_mobile
            : hero_categories[currentIndex]?.image_desktop) +
          ')'
      }"
    ></div>

    <app-header></app-header>

    <!-- aggiungi animazione carousel -->
    <div
      class="hero-content h-100 d-flex justify-content-center align-items-center pb-5 position-relative"
    >
      <div
        class="col-2 d-flex justify-content-center align-items-center"
        (click)="prevSlide()"
      >
        <i class="fa-solid fa-chevron-left"></i>
      </div>
      <div
        class="col-8 d-flex justify-content-center align-items-center d-flex flex-column position-relative"
        style="z-index: 2"
      >
        <p style="font-size: 23px">
          {{ hero_categories[currentIndex]?.title }}
        </p>
        <button
          style="
            border: 1px solid rgba(0, 0, 0, 0.469);
            font-size: 12px;
            font-weight: 600;
          "
          class="p-3"
        >
          {{ hero_categories[currentIndex]?.buttonContent }}
        </button>
      </div>
      <div
        class="col-2 d-flex justify-content-center align-items-center"
        (click)="nextSlide()"
      >
        <i class="fa-solid fa-chevron-right"></i>
      </div>
    </div>
  </div>
  <!-- fine hero carousel -->

  <!-- novità -->
  <div class="text-image-container-1">
    <div class="text d-flex flex-column py-5 px-3">
      <span class="title pb-3">IN ARRIVO IL MESE PROSSIMO:</span>
      <span class="subtitle pb-4" style="font-weight: 600">XANTO</span>
      <span class="text">
        Xanto, il nostro nuovo casco, sta per arrivare e sarà diverso da tutto
        ciò che hai visto finora. Resta connesso per il reveal e sii tra i primi
        a sperimentare un nuovo livello di sicurezza.
      </span>
    </div>

    <div class="image">
      <img
        src="https://www.equiline.it/media/wysiwyg/xanto_shop.jpg"
        alt=""
        class="w-100 h-100"
      />
    </div>
  </div>
  <!-- fine novità -->

  <!-- card categorie -->
  <div class="card-swiper pt-5">
    <div class="card d-flex flex-column mx-3 position-relative">
      <img
        src="https://www.equiline.it/media/wysiwyg/categoria_donna_hp.jpg"
        class="card-1-img position-absolute w-100 h-100"
        style="z-index: 1"
      />
      <div class="card-space"></div>

      <div
        class="card-details px-3 d-flex flex-column position-relative"
        style="z-index: 2"
      >
        <h3 class="card-title pt-3">DONNA</h3>
        <p class="card-text pt-2">
          Scopri le categorie donna per allenamento, tempo libero e
          competizione. La sartorialità e il made in Italy si intrecciano con la
          ricerca di materiali e tessuti innovativi ed altamente performanti,
          per il massimo comfort e stile.
        </p>
        <div class="position-relative d-flex w-100 h-100">
          <button class="btn-scopri align-self-end mb-3 py-2 px-4">
            SCOPRI
          </button>
        </div>
      </div>
    </div>

    <div class="card d-flex flex-column mx-3 position-relative">
      <img
        src="https://www.equiline.it/media/wysiwyg/categoria_uomo_hp.jpg"
        class="card-1-img position-absolute w-100 h-100"
        style="z-index: 1"
      />
      <div class="card-space"></div>
      <div
        class="card-details px-3 d-flex flex-column position-relative"
        style="z-index: 2"
      >
        <h3 class="card-title pt-3">UOMO</h3>
        <p class="card-text pt-2">
          Scopri tutte le categorie dell’abbigliamento maschile e gli articoli
          per allenamento e competizione. La ricerca di materiali innovativi e
          altamente performanti garantisce al cavaliere il massimo comfort
          unendo l'eleganza e lo stile del design italiano.
        </p>
        <div class="position-relative d-flex w-100 h-100">
          <button class="btn-scopri align-self-end mb-3 py-2 px-4">
            SCOPRI
          </button>
        </div>
      </div>
    </div>
    <div class="card d-flex flex-column mx-3 position-relative">
      <img
        src="https://www.equiline.it/media/wysiwyg/categoria_cavallo_hp.jpg"
        class="card-1-img position-absolute w-100 h-100"
        style="z-index: 1"
      />
      <div class="card-space"></div>
      <div
        class="card-details px-3 d-flex flex-column position-relative"
        style="z-index: 2"
      >
        <h3 class="card-title pt-3">CAVALLO</h3>
        <p class="card-text pt-2">
          Gli accessori per il cavallo Equiline nascono dal know-how di
          importanti campioni e dalla particolare attenzione al benessere del
          cavallo. Un’accurata ricerca di materiali di primissima qualità, forme
          e tecnologie sono il segreto che rende così esclusiva la nostra linea.
        </p>
        <div class="position-relative d-flex w-100 h-100">
          <button class="btn-scopri align-self-end mb-3 py-2 px-4">
            SCOPRI
          </button>
        </div>
      </div>
    </div>
    <div class="card d-flex flex-column mx-3 position-relative">
      <img
        src="https://www.equiline.it/media/wysiwyg/categoria_selle_hp.jpg"
        class="card-1-img position-absolute w-100 h-100"
        style="z-index: 1"
      />
      <div class="card-space"></div>
      <div
        class="card-details px-3 d-flex flex-column position-relative"
        style="z-index: 2"
      >
        <h3 class="card-title pt-3">SELLERIA</h3>
        <p class="card-text pt-2">
          L’eleganza e lo stile del Made in Italy sono ancora una volta mixati
          dal nostro saper fare artigianale, sapiente e al contempo innovativo.
          “Una sella per due”, interante personalizzata, capace di coniugare il
          rispetto del cavallo e il comfort del cavaliere.
        </p>
        <div class="position-relative d-flex w-100 h-100">
          <button class="btn-scopri align-self-end mb-3 py-2 px-4">
            SCOPRI
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- fine card categorie -->

  <!-- must have -->
  <div
    class="must-have d-flex justify-content-center align-items-center flex-column p-5"
  >
    <div class="must-have-title d-flex">
      <h1>SS24 MUST HAVE</h1>
    </div>
  </div>

  <div class="card-swiper px-2">
    <div class="card card-2 d-flex flex-column mx-3" (click)="(true)">
      <div class="card-2-img h-75"></div>
      <div class="card-2-text pt-2">
        <span>LEGGINGS FULL GRIP INDIGO BLU CON LOGO LUCIDO DA DONNA</span>
      </div>
      <div class="card-2-price pt-2">
        <b>€120,00</b>
      </div>
    </div>

    <div class="card card-2 d-flex flex-column mx-3" (click)="(true)">
      <div class="card-2-img h-75"></div>
      <div class="card-2-text pt-2">
        <span>GIACCA IMPERMEABILE NERA DA DONNA</span>
      </div>
      <div class="card-2-price pt-2">
        <b>€180,00</b>
      </div>
    </div>

    <div class="card card-2 d-flex flex-column mx-3" (click)="(true)">
      <div class="card-2-img h-75"></div>
      <div class="card-2-text pt-2">
        <span
          >POLO DA COMPETIZIONE BIANCA CON MANICHE LUNGHE IN TULLE DA
          DONNA</span
        >
      </div>
      <div class="card-2-price pt-2">
        <b>€140,00</b>
      </div>
    </div>

    <div class="card card-2 d-flex flex-column mx-3" (click)="(true)">
      <div class="card-2-img h-75"></div>
      <div class="card-2-text pt-2">
        <span
          >PANTALONI BIANCHI FULL GRIP A VITA ALTA CON DETTAGLI CRISTALLO</span
        >
      </div>
      <div class="card-2-price pt-2">
        <b>€230,00</b>
      </div>
    </div>
  </div>

  <!-- fine must have -->

  <!-- marketing campaign -->
  <div class="marketing-campaign mt-5">
    <h1 class="text-center px-5">PROTECTED EVERY DAY</h1>
    <div class="yt-video-container mt-4">
      <div class="yt-player"></div>
    </div>
  </div>

  <div class="about-us d-flex justify-content-center mt-5 flex-column p-2">
    <p style="font-size: 36px">EQUILINE UNIVERSE</p>
    <p class="about-us-text">LOOKING AHEAD</p>
    <p class="about-us-text">
      Dal 1980 Equiline rappresenta innovazione, modernità e tradizione. Grazie
      alla filosofia volta alla costante ricerca di materiali innovativi e
      prodotti che garantiscano il massimo comfort e bessere del cavallo e del
      cavaliere, senza rinunciare al design, allo stile e all'eleganza del Made
      in Italy, Equiline è diventato negli anni uno dei principali brand
      aspirazionali del mondo equestre.
    </p>

    <button class="about-btn w-50 p-3">SCOPRI DI PIU'</button>

    <div class="about-us-img my-4"></div>
  </div>
  <!-- fine marketing campaign -->

  <!-- testimonials -->
  <div class="testimonials mt-5 p-2">
    <h1>TESTIMONIALS</h1>
    <h4 class="py-2">#EQUILINERIDERSTEAM</h4>
    <p>
      Importanti cavalieri di fama internazionale sono da sempre ambassador
      globali dei nostri valori.
    </p>

    <!--! fix margin cards -->

    <div class="card-swiper mt-5">
      <div class="card card-3 d-flex justify-content-between flex-column mx-3">
        <div class="card-space"></div>

        <div class="card-3-details p-3 d-flex flex-column justify-content-end">
          <p class="card-text card-3-text">
            GIACOMO <br />
            CASADEI
          </p>
          <span class="tag-country">Italia</span>
        </div>
      </div>
      <div class="card card-3 d-flex justify-content-between flex-column mx-3">
        <div class="card-space"></div>

        <div class="card-3-details p-3 d-flex flex-column justify-content-end">
          <p class="card-text card-3-text">
            DARRAGH <br />
            KENNY
          </p>
          <span class="tag-country">Irlanda</span>
        </div>
      </div>
      <div class="card card-3 d-flex justify-content-between flex-column mx-3">
        <div class="card-space"></div>

        <div class="card-3-details p-3 d-flex flex-column justify-content-end">
          <p class="card-text card-3-text">
            ALBERTO <br />
            ZORZI
          </p>
          <span class="tag-country">Italia</span>
        </div>
      </div>
      <div class="card card-3 d-flex justify-content-between flex-column mx-3">
        <div class="card-space"></div>

        <div class="card-3-details p-3 d-flex flex-column justify-content-end">
          <p class="card-text card-3-text">
            NIELS <br />
            BRUYNSEELS
          </p>
          <span class="tag-country">Belgio</span>
        </div>
      </div>
      <div class="card card-3 d-flex justify-content-between flex-column mx-3">
        <div class="card-space"></div>

        <div class="card-3-details p-3 d-flex flex-column justify-content-end">
          <p class="card-text card-3-text">
            JANE <br />
            RICHARD
          </p>
          <span class="tag-country">Svizzera</span>
        </div>
      </div>
      <div class="card card-3 d-flex justify-content-between flex-column mx-3">
        <div class="card-space"></div>

        <div class="card-3-details p-3 d-flex flex-column justify-content-end">
          <p class="card-text card-3-text">
            ISABEL <br />
            COOL
          </p>
          <span class="tag-country">Belgio</span>
        </div>
      </div>
      <div class="card card-3 d-flex justify-content-between flex-column mx-3">
        <div class="card-space"></div>

        <div class="card-3-details p-3 d-flex flex-column justify-content-end">
          <p class="card-text card-3-text">
            DOROTHEE <br />
            SCHNEIDER
          </p>
          <span class="tag-country">Italia</span>
        </div>
      </div>
    </div>
  </div>
  <!-- fine testimonials -->

  <!-- social proof -->
  <div
    class="social d-flex justify-content-center align-items-center flex-column py-5 my-4"
  >
    <h1>SEGUICI SU INSTAGRAM</h1>
    <h3>#EquilineOfficial</h3>
    <span
      >#Usa #equiline o #equilinesaddledivision e tagga @equiline_official nei
      tuoi post per avere l'occasione di essere ricondiviso sui nostri canali
      ufficiali.
    </span>
  </div>
  <!-- fine social proof -->

  <!-- newsletter subscription -->
  <div class="newsletter d-flex justify-content-center flex-column py-5 px-4">
    <div class="py-5">
      <h1 class="">EQUILINE NEWS</h1>
      <p class="my-3">
        Iscriviti alla Newsletter per ricevere aggiornamenti su eventi,
        collezioni e promozioni esclusive. Riceverai un promocode del 10%
        spendibile sul tuo primo acquisto.
      </p>
      <input
        type="email"
        class="mail_privacy w-75 my-1 py-3 px-2"
        id="mail_privacy"
        placeholder="Inserisci la tua email"
      />
      <button class="about-btn w-50 p-3 my-3">ISCRIVITI</button>

      <div class="privacy d-flex align-items-center my-3">
        <input
          type="checkbox"
          name=""
          id="privacy_check"
          class="privacy_check"
        />
        <label for="privacy_check" class="mx-3"
          >Ho letto e accetto la <u>Privacy Policy</u>
          <span style="color: red"> *</span>
        </label>
      </div>
    </div>
  </div>
  <!-- fine newsletter subscription -->

  <!-- footer -->
  <app-footer></app-footer>
  <!-- fine footer -->
</section>
