.newsletter-message-container {
}

.newsletter-message {
  text-align: center;
  font-size: 12px;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-decoration: none;
  color: black;
  cursor: pointer;
}
